body {
font-family: 'Lacquer', sans-serif;
color: black;
}
ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

ul li {
  float: left;
  width: 150px;
  height: 40px;
  background-color: white;
  opacity: .8;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
}

ul li a {
  text-decoration: none;
  color: black;
}

ul li a:hover {
  color: red;
}

ul li ul li{
  display: none;
}

ul li:hover ul li{
  display:inline;
}

.logo{
  float: left;
  width: 150px;
  height: 40px;
  line-height: 40px;
  padding-left: 0px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}
.logo a {
  text-decoration: none;
  color: black;
}

.banner {
  display: block;
  width: 100%;
}

.banner .banner-image {
  display: block;
  width: 100%;
}

#login-box
{
    position: relative;
    bottom: -300px;
    margin: 7% auto;
    height: 400px;
    width: 600px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.left-box
{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}

h1
{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input[type="text"]
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="submit"]
{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: black;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;

}

input[type="submit"]:hover,
input[type="submit"]:focus
{
    background: #ff5722;
    transition: 0.2s ease;
}

.right-box
{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background-image: url("brazilgirls.jpeg");
    background-size: cover;
    background-position: center;
}

.and
{
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #efefef;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    line-height: 40px;
    text-align: center;
}

.right-box .signinwith
{
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}


button.social
{
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

.facebook
{
    background: #32508e;
}
.twitter
{
    background: #55acee;
}
.instagram
{
    background: #833AB4;
}

.experience1
{
  width: 320px;
  border: 3px solid black;
  margin: 20px 10px;
  padding: 10px 10px;
  float: left;
}
.service1 p {
  font-size: 14px;
  color: #black;
  max-width: 250px;
}

.experiences{
  width: 1500px;
  margin: 0 auto;
  margin-top: 5%;
}

.h1 {
  font-size: 16px;
  font-weight: bold;
  background-color: #c1c1c1;
  color: black;
  padding: 10px 0;
  margin: 0 -6px;
}
.image {
  max-width: 200px;
  margin: 15px 0 0 0;
}
.heading{
  text-align: center;
  font:"Lacquer";
  font-size: 55px;
  color: black;
  margin: 100px 0 50px 0;
}
image:hover{
  opacity: 0.2;
  max-width: 200px;
  margin-top: 15px;
  color: red;
}
.main-heading, .quote{
  text-align: center;
  margin top: 20px;
}
a:hover {
  transition: 0.6s ease;
}

.banner{
  width: 80%
  margin: 10% 10% 10% 10%;
}

.banner img{
  width: 100%;
}

.banner-text{
  width: 100%;
  position: absolute;
  margin-top: -25%;
}

.banner-text h1 {
  text-align: center;
  color: white;
  font-size: 10vw;
  font-family: 'Lacquer';
}

.text1
{
  width: 700px;
  margin: 20px 10px;
  padding: 0 5px;
  float: none;
}
.quote {
  font-size: 35px;
}
.highlight{
  font-weight: bold;
}
.text1,.quote,.highlight p p {
  font-size: 20px;
}

.itinerary p {
  text-align: center;
  font-size: 30px;
}

.itinerary ul li{
    height: 40px;
    margin: 10vh 10vw;
    font-size: 20px;
}

}
